<!--
  ___    __    ____    ___    __    ____   ____
 / __)  / _\  / ___)  / __)  / _\  (    \ (  __)
( (__  /    \ \___ \ ( (__  /    \  ) D (  ) _)
 \___) \_/\_/ (____/  \___) \_/\_/ (____/ (____)

 R E S P O N S I V E  A D  B O I L E R P L A T E

-->
<!DOCTYPE html>
<html>
<head>
    <title>Cascade Component: {{component}}</title>
	<link id="cascade-primary-styles" rel="stylesheet" type="text/css" href="{{{css}}}">
</head>
<body>

<!-- Begin Component HTML  -->
{{{ content }}}
<!-- End Component HTML -->

<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
// (function () {
//     var cascadeComponent = "{{component}}";
//     var updateCSSContainer = document.getElementById('cascade-primary-styles');
//     var cssPath = updateCSSContainer.getAttribute("href");

//     var socket = io();

//     socket.on('file change', function(data){
//         var updateCSSTimestamp = +(new Date());
//         var urlParam = "?_dc=" + updateCSSTimestamp;

//         var reloadComponent = function() {
//             var url = decodeURIComponent(document.location.href);
//             url = url.split("#");
//             url[0] = url[0] + urlParam;
//             url = url.join("#");
//             document.location.href = url;
//         }
//         if (data.component === cascadeComponent && data.type === "css") {
//             var newPath = cssPath + urlParam;
//             updateCSSContainer.setAttribute("href", newPath);
//         } else if ((data.component === cascadeComponent && data.type === "html") || (data.component === cascadeComponent && data.type === "js")) {
//             reloadComponent();
//         } else if (data.type === "jpg" || data.type === "jpeg" || data.type === "gif" || data.type === "png" || data.type === "svg" || data.type === "webp") {
//             // Replace element srcs in page
//             var elements = document.querySelectorAll("[src]");
//             var newUrl = data.file + urlParam;
//             for (i = 0; i < elements.length; i++) {
//                 var src = elements[i].getAttribute("src")
//                 if (src.indexOf(data.file) >= 0) {
//                     elements[i].setAttribute("src", newUrl);
//                 }
//             }

//             // Replace references to the url in stylesheet
//             for (i = 0; i < document.styleSheets.length; i++) {
//                 for (x = 0; x < document.styleSheets[i].rules.length; x++) {
//                     var cssText = document.styleSheets[i].rules[x].cssText;
//                     if (cssText.indexOf(data.file) >= 0) {
//                         var searchFor = new RegExp(data.file, "g");
//                         var style = document.styleSheets[i].rules[x].style;

//                         for (var key in style) {
//                             if ((typeof style[key]) === "string" ) {
//                                 if (style[key].indexOf(data.file) >= 0){
//                                     // url = style[key].replace("url(", "").replace(")", "").replace(/["']/g, "");
//                                     style[key] = style[key].replace(searchFor, data.file + urlParam);
//                                 }
//                             }
//                         }
//                     }
//                 }
//             }


//         } else if (data.component === "newProject") {
//             reloadComponent();
//         }
//     });
//     setInterval(function() {
// 		socket.emit('latest-size', {
// 			component : cascadeComponent,
// 			w: window.innerWidth,
// 			h: window.innerHeight
// 		});
// 	}, 2500); // 60 * 1000 milsec
// }());
(function () {
    var doc = document, lengthString = 'length',
        parseSearch = function (search) {
            var parms, temp, items, val, converted, i = 0,
                dcUriComp = window.decodeURIComponent;
            if (!search) {
                search = window.location.search;
            }
            items = search.slice(1).split("&");
            parms = {};
            for (; i < items[lengthString]; i++) {
                temp = items[i].split("=");
                if (temp[0]) {
                    if (temp[lengthString] < 2) {
                        temp.push("");
                    }
                    val = temp[1];
                    val = dcUriComp(val);
                    if (val[0] === '\'' || val[0] === '\"') {
                        val = val.slice(1, val.length - 1);
                    }
                    if (val === 'true') {
                        val = !0;
                    }
                    if (val === 'false') {
                        val = !1;
                    }
                    if (typeof val === 'string') {
                        converted = +val;
                        if (converted == val && converted + '' === val) {
                            val = converted;
                        }
                    }
                    parms[dcUriComp(temp[0])] = val;
                }
            }
            return parms;
        },
        make = function () {
            Specless.makeInner(window, search.overwrites);
        },
        getCurrentScript = function (d) {
            var docu = (d || doc),
                allScripts = docu.scripts,
                currentScript = docu.currentScript,
                lastScript = allScripts[allScripts[lengthString] - 1];
            return currentScript || lastScript;
        },
        search = parseSearch(),
        fetchTheScripts = function () {
            var src = search.load,
                script = document.createElement('script');
            if (search.baseLoad) {
                src = search.baseLoad + src;
            } else {
                src = 'http://s.specless.io/frame/1/scripts/' + src;
            }
            script.src = src;
            var callback = function () {
                make();
                this.parentNode.appendChild(Specless.makeScript(search.userJs));
            };
            getCurrentScript().parentNode.appendChild(script);
            if (typeof script.onload === "undefined") {
                script.onreadystatechange = function() {
                    if (this.readyState == "loaded" || this.readyState == "complete") {
                        this.onreadystatechange = null;
                        callback.apply(this, arguments);
                    }
                };
            } else {
                script.onload = callback;
            }
        };
    try {
        window.Specless = window.parent.Specless;
    } catch (e) {}
    if (window.Specless) {
        make();
    } else {
        fetchTheScripts();
    }
}());
</script>
</body>
</html>